<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if @user %>
        Welcome, <%= @user.username %>
    <% end %>
  </a>

  <div class="dropdown-menu right" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="profile">Profile</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <a class="dropdown-item" href="logout">Logout</a>
  </div>
</div>
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p>Post will go here...</p>
        <form action="/blog" id="usrform" method="POST">
          <input class="form-control" name="title" type="text" placeholder="Post Title">
          <div class="form-group">
            <textarea required class="form-control" id="exampleFormControlTextarea1" name="user_post" rows="3" placeholder="Make a post..."></textarea>
          </div>
          <input type="submit">
        </form>
    </div>
    <div class="col-md-3"></div>
  </div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <% @posts.reverse.each do |posts| %>
      <div class="card border-dark mb-3">
        <div class="card-header"><%= posts.username %></div>
        <div class="card-body text-dark">
          <h5 class="card-title"><%= posts.title %></h5>
          <p class="card-text"><%= posts.user_post %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
