<ul>
  <li><a href="#">Boop</a></li>
  <li><a data-toggle="modal" data-target="#exampleModalCenter" href="signup">Sign Up</a></li>
  <li><a href="login">Log In</a></li>
</ul>
<div class="centered-box">
  Much Cringe...Rawr XD... Wow... Boop <br> <br>
  Sign In or Create an Account
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Join Us!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" action="" method="post">
          <input type="text" name="username" value=""> <br>
          Password
          <input type="text" name="password" value="">
          <button type="submit" name="button">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" href="signup">Save changes</button>
      </div>
    </div>
  </div>
</div>
